<div class="content">
    <header></header>
    <div class="main">

        <div class="left"></div>
        <div class="right">

            <input ng-click="response()" type="submit" value="Savings &#8658" />
            <input ng-click="response()" type="submit" value="Checking &#8658" />
            <input ng-click="response()" type="submit" value="Credit Card &#8658" />
        </div>
    </div>

    <div class="enter">
        <div ng-show="popupMsg" class="popup">
            <div>
                Your transaction is being processed
            </div>
            <div>
                Please get your cash
            </div>
        </div>
    </div>


    <footer>Pearl Pay Inc. Bootcamp ATM App</footer>
</div>