<div class="content">
    <header></header>

    <div class="container">

        <div class="input">

            <input required ng-model="d1" type="password" maxlength="1"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            <input required ng-model="d2" type="password" maxlength="1"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            <input required ng-model="d3" type="password" maxlength="1"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            <input required ng-model="d4" type="password" maxlength="1"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            <input required ng-model="d5" type="password" maxlength="1"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            <input required ng-model="d6" type="password" maxlength="1"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>

        <div class="enter">
            <input ng-click="response()" type="submit" name="enter" value="Enter your PIN Code" />

            <div ng-show="invalidMsg" class="invalid">INVALID PIN Code</div>
        </div>
    </div>


    <div class="end">
        <a href="#!/thank-you">Remove my card &#8658</a>
    </div>

    <footer></footer>
</div>